/*@font-face
{
    font-family: 'helvetica_neueregular';
    src: url('fonts/helvetica-ultralight-webfont.eot');
    src: url('fonts/helvetica-ultralight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/helvetica-ultralight-webfont.woff') format('woff'), url('fonts/helvetica-ultralight-webfont.ttf') format('truetype'), url('fonts/helvetica-ultralight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'helvetica_2_ultralight';
    src: url('fonts/Helv_2_ULight.ttf');
    src: url('fonts/Helv_2_ULight.ttf?#iefix') format('embedded-opentype'), url('fonts/Helv_2_ULight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

*
{
    -webkit-font-smoothing: antialiased;
}
body {
    /* margin: 0px; */
    /* font-family: helvetica; */
    /* font-weight: 400; */
    /* outline: none; */
}
.VA005-report-header {
    /* width: 100%; */
    /* background: #1aa0ed; */
    /* float: left; */
}
.VA005-report-header h3 {
    /* margin: 0px; */
    /* font-size: 22px; */
    /* font-family: helvetica; */
    /* font-weight: 400; */
    /* color: #FFF; */
}
.VA005-report-header > div > h5 {
    text-align: right;
    font-weight: normal;
    /*margin-top: 15px;*/
    margin-right: 10px;
    /*color: #FFF;*/
}
.VA005-report-header .vis-ad-w-name {
    flex: 1;
}
h4.VA005-report-tittle {
    /* width: 40%; */
    /* float: left; */
    /* padding: 10px 0 0 15px; */
    margin: 0;
}

.VA005-btn-close {
    /*width: 45px;
    background: url('../Images/close.png');
    background-color: #616364;
    float: right;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 19px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    margin: 0;*/
}
.VA005-btn-Delete {
    /* width: 45px; */
    /* float: right; */
    /* padding-top: 25px; */
    /* padding-bottom: 19px; */
    cursor: pointer;
    border: 0px;
    background: transparent;
    font-size: 1.2rem;
    padding: 0 7px;
    margin-right: 10px;
}
.VA005-btn-Multiple,
.VA005-btn-Multiple-on {
    width: 22px;
    /* float: right; */
    /* padding-top: 25px; */
    /* padding-bottom: 19px; */
    cursor: pointer;
    border: 0px;
    margin: 0 10px 0 0;
    background: transparent;
    font-size: 1.1rem;
}
.VA005-btn-Multiple {
    /*background: url(../Images/multi-sel1.png) no-repeat center;*/
}
.VA005-btn-Multiple-on {
    /*background: url('../Images/multi-sel2.png') no-repeat center;*/
    color: #1eff00;
}
.VA005-btn-zoom {
    /* width: 14px; */
    /* height: 14px; */
    /* margin-top: 6px; */
    /* background: url(../Images/Zoom16.png); */
    /* float: left; */
    cursor: pointer;
    border: none;
    font-size: 1rem;
    background: transparent;
}
.VA005-clear-both
{
    clear: both;
}

.VA005-effect-on
{
    margin: 0;
}

.VA005-effect-off
{
    margin: 0;
}

.VA005-show
{
    display: block;
}
.VA005-content-wrap {
    width: 100%;
    height: calc(100% - 50px);
    background-color: white;
    display: flex;
}
.VA005-left-wrap {
    /* width: 61%; */
    float: left;
    padding: 0px 0 0px 15px;
    margin: 10px 0;
    border-right: 1px solid rgba(var(--v-c-on-secondary), .2);
    height: calc(100% - 17px);
    overflow: auto;
    position: relative;
    z-index: 0;
    flex: 1;
}
.VA005-left-top
{
    padding-right: 20px;
}

.VA005-left-top, .VA005-pro-cat-wrap
{
    float: left;
    width: 100%;
}

.VA005-multidelete
{
    float: left;
    margin-top: 4px;
}

    .VA005-multidelete > input
    {
        float: left;
        margin-right: 10px;
        display: none;
    }

    .VA005-multidelete > label
    {
        float: left;
        font-weight: normal;
    }

.VA005-topicons
{
    float: right;
}

    .VA005-topicons > span
    {
        cursor: pointer;
    }

.VA005-pro-cat-wrap
{
    /*margin-top: 20px;*/
    padding: 0;
}
.VA005-pro-cat {
    float: left;
    width: 150px;
    height: 150px;
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0 20px 20px 0;

}

/*.VA005-cat-img, .VA005-cat-caption
{
   float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
*/
.VA005-cat-img {
    display: none;
}
.VA005-cat-caption {
    z-index: 2;
    /* background: rgba(var(--v-c-secondary), .5); */
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    border-radius: .25rem;
    height: 100%;
    justify-content: center;
}
.VA005-cat-caption > p > input {
     text-align: left; 
    /* position: relative; */
    /* top: 50%; */
    /* -webkit-transform: translateY(-50%); */
    /*-ms-transform: translateY(-50%);*/
    /* transform: translateY(-50%); */
    /* word-wrap: break-word; */
    /* height: 20px; */
    width: 100%;
}
.VA005-cat-caption > p {
    /* color: #000; */
     text-align: center; 
    /* position: relative; */
    /* top: 50%; */
    /* -webkit-transform: translateY(-50%); */
    /*-ms-transform: translateY(-50%);*/
    /* transform: translateY(-50%); */
    word-break: break-word;
    margin: 0;
    padding-top: 30px;
}
.VA005-cat-caption > p i {
    font-size: 1rem;
}
.VA005-form-wrap {
    width: 430px;
    height: 100%;
    float: right;
    padding: 15px 0 15px 15px;
    /*overflow: auto;*/
}
.VA005-form-top{
    padding-right: 15px;
}
.VA005-form-top,
.VA005-form-data,
.VA005-form-dataIcon,
/*.VA005-form-data-top,*/
.VA005-form-data-other,
.VA005-form-top-fields {
    width: 100%;
    float: left;
}
.VA005-form-top-fields {
    /* padding-right: 10px; */
    margin-bottom: 10px;
}
.VA005-form-top-fields > h4 {
    color: rgba(var(--v-c-primary), 1);
    margin-top: 0;
}
.VA005-form-data-top {
    display: flex;
    align-items: center;
}
.VA005-form-data-top,
.VA005-form-data-other {
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
    /*margin-bottom: 15px;*/
}
.VA005-form-data-other {
    margin-bottom: 15px;
}
.VA005-form-data-top > input,
.VA005-form-data-other > textarea {
    border: 0;
    /*font-weight: normal;*/
    width: 100%;
    /*outline: none;*/
}
.VA005-form-data-top > input {
    /* font-size: 18px; */
    padding: 0 !important;
}
.VA005-form-data-other > textarea {
    resize: none;
    height: 84px;
}
.VA005-image-wrap {
    float: right;
    width: 100%;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    height: 158px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.VA005-image-wrap i {
    color: rgba(var(--v-c-on-secondary), .3);
}
.VA005-editIcon {
    /* float: right; */
    /* width: 20px; */
    /* height: 20px; */
    /* background: url(../Images/edit.png) no-repeat; */
    /* margin: 7px; */
    position: absolute;
    z-index: 2;
    cursor: pointer;
    font-size: 1rem;
    top: 6px;
    right: 6px;
}
.VA005-image-area {
    float: left;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    /* position: absolute; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.VA005-Zoom {
    /* position: relative; */
    float: right;
    /* width: 35%; */
    /* height: 20px; */
}
.VA005-form-data, .VA005-form-dataIcon {
    /*margin-bottom: 10px;*/
}
.VA005-form-data > label, .VA005-form-dataIcon > label {
    /* color: rgba(var(--v-c-on-secondary), 1); */
    /* font-size: 14px; */
    /* font-weight: normal; */
    /* width: 100%; */
    /* float: left; */
    /* margin-bottom: 0; */
}
.VA005-form-data > label > sup {
    color: red;
}
.VA005-form-data > input, .VA005-form-data > select {
    /*width: 100%;
    float: left;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    outline: none;
    border-radius: 0;
    height: 31px;
    padding: 5px;*/
}
.VA005-form-dataIcon > select {
    /*width: calc(100% - 31px);
    float: left;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    outline: none;
    border-radius: 0;
    height: 31px;
    padding: 5px;*/
}
.VA005-form-dataIcon > input[type="button"] {
    /* float: right; */
    /* width: 31px; */
    /* height: 31px; */
    /* background: url(../Images/info.png); */
    /* border: none; */
}
.VA005-con-checkbox {
    /* margin-top: 14px; */
    width: 100%;
    display: flex;
}
.VA005-con-checkbox > input[type="checkbox"] {
    /*float: left;
    margin-left: 0;
    margin-right: 5px;*/
    /* position: relative; */
}
.VA005-con-checkbox > label {
    /*float: left;
    font-weight: normal;*/
}

.VA005-btns
{
    float: right;
    margin-top: 10px;
}

    .VA005-btns > span
    {
        float: left;
        background: #616364;
        color: #fff;
        margin-left: 10px;
        padding: 6px 12px;
        cursor: pointer;
    }

    .VA005-attrValuesWraperDiv {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 15px;    
}

.VA005-AttributesValuesBtm {
    height: 33px;width: 100%;/*padding: 5px 0;*/ 
    /*margin-top: 10px;*/
}
.VA005-AttributesValuesDown {
    margin:5px 0 5px 0;float:left;width: 100%;padding: 5px 0;
}
.VA005-AttributesValuesImgTop {
    margin: 4px 14px 15px 0;
    height: 72px;
    width: 58px;
    text-align: center;
    position: relative;
    /*display: inline-block;
    width: 100px;
    float: none;
    text-align: center;
    margin: 0px 7px 10px;
    background: #f0f0f0;
    height: 100px; 
    line-height: 100px;*/
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}

.VA005-AttValueImgaeBorderSelect {
     border:2px solid #1AA0ED
}



.VA005-AttributesValuesImgTop img{
     /*height: 32px;width: 32px;*/
     cursor:pointer;
     /*margin-left:10px;*/
}

.VA005-AttributesValuesImgTop p{
        text-align: center;
        position: absolute;
        color: #000;
        width: 100%;
        font-size: 12px;        
        padding: 1px;
        background: #DEDEDE;
        /*white-space: nowrap;*/
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
        margin-top: 4px;
        bottom: 0;
}

.VA005-AttValofbindingImg {
    width: 100%;
    height: auto;    
    overflow: auto;
    float: left;
        margin-top: 10px;
    padding-left: 10px;
}

.VA005-AttributesValMainDiv {
     overflow:auto;height:295px;width:100%;float:left;margin-top:35px;
}

.VA005-AttValOpacity {
     opacity:0.6;
}

.VA005-RemoveLinkeImage {
        background: url('../Images/link-del.png') no-repeat center;
    width: 20px;
    height: 20px;
    float: left;
    cursor:pointer;
}



@media (max-width: 1400px)
{
    .VA005-left-wrap
    {
        /*width: 62%;*/
    }

    .VA005-form-wrap
    {
        /*width: 38%;*/
    }

    .VA005-pro-cat
    {
        /*margin-right: 20px;*/
    }

    .VA005-left-top
    {
        padding-right: 31px;
    }
}

@media (max-width: 1280px)
{
    .VA005-left-wrap
    {
        /*width: 66%;*/
    }

    .VA005-form-wrap
    {
        /*width: 34%;*/
    }

    .VA005-form-dataIcon > select
    {
        width: 91%;
    }
}

@media (max-width: 1152px)
{
    .VA005-left-wrap
    {
        /*width: 50%;*/
    }

    .VA005-form-wrap
    {
        /*width: 50%;*/
    }

    .VA005-left-top
    {
        padding-right: 25px;
    }
}

@media (max-width: 999px)
{
    .VA005-left-wrap
    {
        /*width: 45%;*/
    }

    .VA005-form-wrap
    {
        width: 50%;
    }

    .VA005-form-dataIcon > select
    {
        /*width: 89%;*/
    }
}
@media (max-width: 767px) {
    .VA005-image-wrap, .VA005-form-top-fields {
        /*width: 100%;*/
    }
}
.VA005-gridicon {
    font-size: 1rem;
    color: rgba(var(--v-c-primary), 1);
    display: inline-flex;
    cursor: pointer;
}
.VA005-form-data-top > input:focus {
    border: none;
}
.VA005-form-data-top:focus-within, .VA005-form-data-other:focus-within {
    border-bottom: 1px solid rgba(var(--v-c-primary), 1);
}
.VA005-outermainwrapper input:not(:focus):placeholder-shown ~ label,
.VA005-product-data input:not(:focus):placeholder-shown ~ label {
    left: 10px;
}
.VA005-productinfowrp {
    display: flex;
    padding-left: 10px;
    list-style: none;
}
.VA005-middle-left-main .vis-group-DataContainer {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.VA005-rightformdatawrap {
    display: flex;
    flex-direction: column;
    height: calc(100% - 35px);
    overflow: auto;
}

.VA005-rightfrmsavebtnwrap {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.VA005-rightfrmsavebtnwrap button {
    background: rgba(var(--v-c-primary), 1);
    border: none;
    color: rgba(var(--v-c-on-primary), 1);
    border-radius: .25rem;
    padding: 6px 15px;
}

.VA005-rightfrmsavebtnwrap button span {
    padding-left: 5px;
}
.VA005-att-tree-vieww h5 {
    color: rgba(var(--v-c-primary), 1);
}